*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 0 6%;
}

a{
  text-decoration: none;
}
/* ###################### Navbar ###################### */

nav{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.5rem 3rem;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 2;
}
.nav-btns button:hover{
  border: 2px solid #EA002A;
  cursor: pointer;
}
.logos{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-btns{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn{
  background-color: #343434;
  text-decoration: none;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.resetBtn{
  position: absolute;
  right: 2.5rem;
  display: flex;
  gap: 10px;
  align-items: center;
}
.resetBtn .fa-cart-shopping{
  font-size: 2rem;
  position: relative;
}
.resetBtn .fa-cart-shopping p{
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: .8rem;
  color: #EA002A;
}
.resetBtn button{
  background-color: #EA002A;
  text-decoration: none;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
.resetBtn button:hover{
  cursor: pointer;
}

/* ###################### Carousel ###################### */
main section{
  margin-top: 6rem;
}
.reOrderBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.reOrderBtn button{
  background-color: #EA002A;
  text-decoration: none;
  padding: 10px 16rem;
  border: none;
  font-weight: 800;
  border-radius: 5px;
  text-align: center;
}
.reOrderBtn button:hover{
  cursor: pointer;
}


/* ###################### Cards Section 01 ###################### */

.cards-section-1{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cards-section-1 .cards-container{
  margin: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  min-height: 200px;
}
.cards-section-1 .cards-container .card{
  background-color: #1e1c1a;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50% 50% 5px 50%;
  margin: 10px 0;
}
.cards-section-1 .cards-container .card p{
  margin: 5px 0;
  margin-bottom: 10px;
}
.cards-section-1 .cards-container .card .borderRed{
  border-bottom: #EA002A 4px solid;
  width: 60px;
  margin-bottom: 1.5rem;
}




/* ###################### Cards Section 02 #####################*/

.cards-section-2{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.borderRed{
  border-bottom: #EA002A 3px solid;
  width: 60px;
  margin-bottom: 1.5rem;
}
.cards-section-2 .cards-container{
  margin: 10px 5px;
  display: flex;
  gap: 15px;
  padding: 5px;
  min-height: 200px;
  overflow-x: auto;
}
.cards-section-2 .cards-container .card{
  background-color: #1e1c1a;
  width: 300px;
  border-radius: 5px;
  padding: 5px;
}
.cards-section-2 .cards-container .card h3{
  margin-left: 10px;
  margin-top: 30px;
  font-size: 1.4rem;
}

/* ###################### Cards Section 03 #####################*/
.cards-section-3{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.cards-section-3 .cards-container{
  margin: 10px 5px;
  display: flex;
  gap: 15px;
  min-height: 200px;
  flex-wrap: wrap;
}
.cards-section-3 .cards-container .card{
  background-color: #1e1c1a;
  width: 280px;
  border-radius: 13px;
  padding: 0px 5px 10px 15px; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-section-3 .cards-container .card h3{
  margin-top: 30px;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  text-align: left;
}
.cards-section-3 .cards-container .card p{
  font-size: .9rem;
}
.cards-section-3 .cards-container .card .bars{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.cards-section-3 .cards-container .card .bars .bar{
  background-color: #EA002A;
  height: 20px;
  width: 13px;
  border-radius: 1px;
}
.fa-heart{
  color: #EA002A;
  font-size: 1.4rem;
  position: absolute;
  right: 10px;
  top: 10px;
}
.cards-section-3 .cards-container .card .addToCart{
  background-color: #EA002A;
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  font-size: .7rem;
  font-weight: 800;
}
.cards-section-3 .cards-container .card .addToCart:hover{
  cursor: pointer;
}